@import './styles/variables';
@import './styles/global';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body {
  background-color: 'white';
  font-family: 'Roboto', sans-serif;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
  margin-bottom: 150px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: $teal;
  padding: 1rem;
  text-align: center;
}

.colorBlock {
  width: 30%;
  height: 100px;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  background: $darkPurple;
}

.pageImage {
  position: relative;
  top: 50vh;
  width: 20%;
  height: auto;
}